.modal-backdrop.show {
  opacity: 0.7; }
.row.boxed {
  border: 3px solid #7cb9c494;
  margin: 10px;
  padding: 10px;
    padding-top: 10px;
  padding-top: 29px;
  background-color: aliceblue;
  border-radius: 13px;
}
.bravo_wrap .bravo_search_tour .bravo_banner {
  background-color: #1a2b48;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;
  position: relative; }
  .bravo_wrap .bravo_search_tour .bravo_banner h1 {
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    margin: 0; }
  @media (max-width: 766px) {
    .bravo_wrap .bravo_search_tour .bravo_banner {
      padding: 70px 0; }
      .bravo_wrap .bravo_search_tour .bravo_banner h1 {
        font-size: 28px; } }
.bravo_wrap .bravo_search_tour .bravo_form_search {
  margin-top: -50px;
  position: relative;
  margin-bottom: 50px; }
  @media (max-width: 766px) {
    .bravo_wrap .bravo_search_tour .bravo_form_search {
      margin-top: -30px;
      margin-bottom: 20px; } }
  .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form {
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px; }
    .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-group {
      margin-bottom: 0; }
    .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .border-right {
      border-right: 1px solid #D7DCE3; }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .border-right {
          border-right: none !important;
          padding: 0 30px; }
          .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .border-right .form-group {
            border-bottom: solid 1px #D7DCE3; } }
    .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .field-detination {
      position: relative;
      padding: 17px 0 13px 0;
      transition: all 0.3s; }
      .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .field-detination #dropdown-destination {
        padding-left: 65px; }
        .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .field-detination #dropdown-destination .form-control {
          border: none;
          box-shadow: none;
          padding: 0;
          font-size: 16px;
          color: #5191FA;
          position: relative;
          left: -5px;
          height: 25px !important; }
          @media (max-width: 766px) {
            .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .field-detination #dropdown-destination .form-control {
              font-size: 14px; } }
          .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .field-detination #dropdown-destination .form-control option {
            color: #000; }
    .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form label {
      font-size: 14px;
      color: #5E6D77;
      font-weight: 400;
      margin-bottom: 0px; }
    .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .render {
      font-size: 16px;
      color: #5191FA;
      overflow: hidden;
      width: 100%;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis; }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .render {
          font-size: 14px; } }
    .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .field-icon {
      position: absolute;
      top: 50%;
      margin-top: -18px;
      font-size: 40px;
      color: #5191fa;
      left: 13px; }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .field-icon {
          margin-top: -16px;
          font-size: 34px; } }
    .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search {
      padding: 20px 0 10px 0;
      position: relative;
      transition: all 0.3s; }
      .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .date-wrapper, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .date-wrapper {
        padding-left: 32px; }
      .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .field-icon, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .field-icon {
        left: 5px;
        font-size: 36px; }
        @media (max-width: 766px) {
          .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .field-icon, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .field-icon {
            left: 15px; } }
      .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .start_date, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .start_date {
        position: absolute; }
      .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .check-in-wrapper, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .guest-wrapper, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .check-in-wrapper, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .guest-wrapper {
        padding-left: 23px; }
        @media (max-width: 766px) {
          .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .check-in-wrapper, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .guest-wrapper, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .check-in-wrapper, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .guest-wrapper {
            padding-left: 32px; } }
        .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .check-in-wrapper .check-in-render, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .check-in-wrapper .check-out-render, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .guest-wrapper .check-in-render, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .guest-wrapper .check-out-render, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .check-in-wrapper .check-in-render, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .check-in-wrapper .check-out-render, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .guest-wrapper .check-in-render, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .guest-wrapper .check-out-render {
          display: inline-block;
          width: auto; }
        .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .check-in-wrapper span, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .guest-wrapper span, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .check-in-wrapper span, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .guest-wrapper span {
          color: #5E6D77;
          position: relative;
          top: -7px; }
        .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .check-in-wrapper label, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .guest-wrapper label, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .check-in-wrapper label, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .guest-wrapper label {
          display: block; }
      .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-date-search .check-in-out, .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .form-guest-search .check-in-out {
        position: absolute;
        left: -15px;
        bottom: 1px;
        z-index: -1;
        opacity: 0; }
    .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .g-button-submit {
      position: relative;
      min-height: 81px;
      margin: 0 -1px 0 -15px; }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .g-button-submit {
          margin: 0;
          text-align: right;
          min-height: auto; } }
      .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .g-button-submit button {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        width: 100%;
        margin-right: -15px;
        border-radius: 0px 5px 5px 0px;
        background: #5191FA;
        border: none;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer; }
        @media (max-width: 766px) {
          .bravo_wrap .bravo_search_tour .bravo_form_search .bravo_form .g-button-submit button {
            height: auto;
            width: auto;
            position: relative;
            margin: 15px 15px;
            border-radius: 5px;
            display: inline-block;
            padding: 5px 10px;
            font-weight: normal; } }
.bravo_wrap .bravo_search_tour .bravo_filter {
  border: 1px solid #D7DCE3;
  border-radius: 3px;
  margin-bottom: 30px; }
  .bravo_wrap .bravo_search_tour .bravo_filter .filter-title {
    font-size: 16px;
    color: #1A2B48;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 500; }
    @media (max-width: 766px) {
      .bravo_wrap .bravo_search_tour .bravo_filter .filter-title {
        margin-bottom: 10px;
        margin-top: 15px; } }
    .bravo_wrap .bravo_search_tour .bravo_filter .filter-title:before {
      content: '';
      width: 3px;
      height: 20px;
      background: #5191FA;
      float: left;
      position: relative;
      top: -2px;
      margin-right: 17px; }
  .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item {
    border: none;
    border-top: 1px solid #D7DCE3;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 20px; }
    @media (max-width: 766px) {
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item {
        padding: 15px 20px; } }
    .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .hide {
      display: none; }
    .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-title {
      cursor: pointer;
      position: relative; }
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-title .fa {
        font-size: 22px;
        color: #1A2B48;
        right: 0;
        top: 2px;
        position: absolute; }
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-title h4 {
        font-size: 14px;
        color: #1A2B48;
        line-height: 23px;
        margin: 0;
        font-weight: 500; }
    .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content {
      margin-top: 20px; }
      @media (max-width: 990px) {
        .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content {
          display: none; } }
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content ul {
        list-style: none; }
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .btn-more-item {
        font-size: 14px;
        color: #5191FA;
        padding: 0;
        text-decoration: none; }
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .btn-apply-price-range {
        font-size: 14px;
        color: #5191FA;
        margin-top: 20px;
        font-weight: 600;
        padding: 0;
        text-decoration: none;
        outline: none; }
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-from, .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-to, .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-single {
        font-size: 11px;
        background-color: #5191FA; }
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-bar {
        top: 25px;
        height: 12px;
        background-color: #5191FA; }
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-handle > i:first-child {
        background-color: #5191FA; }
      .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-from:before, .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-to:before, .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-single:before {
        border-top-color: #5191FA; }
    .bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-title.e-close .fa {
      transform: rotate(180deg) !important; }
.bravo_wrap .bravo_search_tour .bravo-list-item .topbar-search .text {
  font-size: 24px;
  color: #1A2B48;
  font-weight: normal;
  margin: 0; }
.bravo_wrap .bravo_search_tour .bravo-list-item .list-item {
  margin-top: 15px; }
  .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 30px; }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour a {
      text-decoration: none;
      transition: all 0.3s; }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .sale_info {
      position: absolute;
      width: 80px;
      height: 48px;
      transform: rotate(45deg);
      right: -30px;
      top: -13px;
      line-height: 65px;
      text-align: center;
      color: #fff;
      font-size: 15px;
      z-index: 8;
      background-color: #cc0033; }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .featured {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 13px;
      color: #FFFFFF;
      font-weight: 500;
      z-index: 8;
      background: #1a2b48;
      border-radius: 0 3px 3px 0;
      padding: 6px 10px; }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .thumb-image {
      overflow: hidden;
      height: 170px;
      background: #ccc; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .thumb-image a img {
        transition: all 0.3s;
        max-width: 100%; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .thumb-image a:hover img {
        transform: scale(1.1); }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .location {
      font-size: 13px;
      color: #5E6D77;
      padding: 15px 15px 10px; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .location i {
        position: relative;
        font-size: 16px; }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .category {
      padding: 0 15px; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .category .fa {
        color: #687882;
        opacity: 0.6; }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review {
      padding: 10px 15px 15px; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review .list-star {
        display: inline-block;
        line-height: 13px;
        position: relative; }
        .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review .list-star .booking-item-rating-stars {
          padding: 0;
          margin: 0;
          width: 90px; }
          .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review .list-star .booking-item-rating-stars:before, .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review .list-star .booking-item-rating-stars:after {
            content: "";
            display: table;
            clear: both; }
          .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review .list-star .booking-item-rating-stars li {
            list-style: none;
            float: left;
            margin-right: 5px; }
            .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review .list-star .booking-item-rating-stars li:last-child {
              margin-right: 0; }
            .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review .list-star .booking-item-rating-stars li .fa {
              font-size: 15px;
              color: #FFDC00; }
        .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review .list-star .booking-item-rating-stars-active {
          position: absolute;
          width: 0;
          top: 0;
          left: 0;
          overflow: hidden; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .service-review .review {
        position: relative;
        top: -2px;
        font-size: 13px;
        color: #768092;
        margin-left: 10px; }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .item-title {
      padding: 0 15px 0;
      font-size: 16px;
      line-height: 22px;
      min-height: 45px; }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .item-title {
          min-height: auto; } }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .item-title a {
        color: #1A2B50; }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info {
      padding: 0 15px 0; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info:before, .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info:after {
        content: "";
        display: table;
        clear: both; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .duration {
        width: 32%;
        float: left;
        align-items: center;
        color: #5E6D77;
        position: relative;
        top: 5px; }
        .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .duration i {
          position: relative;
          font-size: 17px; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .g-price {
        width: 68%;
        float: left;
        text-align: right; }
        .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .g-price .prefix {
          color: #5E6D77;
          display: inline-block; }
          .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .g-price .prefix i {
            font-size: 16px;
            color: #ffc107; }
        .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .g-price .price {
          position: relative;
          display: inline-block; }
          .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .g-price .price .text-price {
            font-size: 18px;
            color: #1A2B48;
            font-weight: 500; }
          .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .g-price .price .onsale {
            position: absolute;
            right: 0;
            top: -15px;
            text-decoration: line-through;
            font-size: 14px;
            color: #cc0033 !important;
            font-weight: 400; }
    .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour.infobox-item {
      position: relative; }
      .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour.infobox-item:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        border-width: 10px;
        border-color: transparent #fff #fff transparent;
        bottom: -9px;
        left: 0;
        right: 0;
        margin: auto;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-box-shadow: 1px 1px 0px #dfdfdf;
        box-shadow: 1px 1px 0px #dfdfdf;
        background: #fff; }
.bravo_wrap .bravo-checkbox {
  margin-bottom: 15px; }
  .bravo_wrap .bravo-checkbox input {
    margin-right: 5px; }
  .bravo_wrap .bravo-checkbox label {
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    padding-left: 25px;
    font-size: 14px;
    color: #5E6D77;
    font-weight: normal;
    margin-bottom: 0px; }
  .bravo_wrap .bravo-checkbox input[type=checkbox] {
    display: none; }
  .bravo_wrap .bravo-checkbox .checkmark {
    display: inline-block;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
    border: solid 1px #A0A9B2;
    border-radius: 2px;
    background: #fff; }
  .bravo_wrap .bravo-checkbox input[type=checkbox] + .checkmark {
    background-repeat: no-repeat !important;
    background-position: center; }
  .bravo_wrap .bravo-checkbox input[type=checkbox]:checked + .checkmark {
    background-repeat: no-repeat !important;
    background-position: center; }
  .bravo_wrap .bravo-checkbox input[type=checkbox]:checked + .checkmark:after {
    content: "";
    position: absolute;
    background-color: transparent;
    border-radius: 0;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid #5191FA;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
.bravo_wrap .bravo_detail_tour .bravo_banner {
  background-color: #fff !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative; }
  .bravo_wrap .bravo_detail_tour .bravo_banner .container {
    position: relative; }
  .bravo_wrap .bravo_detail_tour .bravo_banner .bravo_gallery {
    height: 500px;
    position: relative; }
    @media (max-width: 1024px) {
      .bravo_wrap .bravo_detail_tour .bravo_banner .bravo_gallery {
        height: 300px; } }
    @media (max-width: 766px) {
      .bravo_wrap .bravo_detail_tour .bravo_banner .bravo_gallery {
        height: 200px; } }
    .bravo_wrap .bravo_detail_tour .bravo_banner .bravo_gallery .modal .modal-dialog {
      position: relative;
      top: 50%;
      width: 100%;
      transform: translate(0, -50%);
      margin: -10px auto 0; }
    .bravo_wrap .bravo_detail_tour .bravo_banner .bravo_gallery .modal .modal-content {
      padding: 0;
      background: transparent;
      border: none; }
  .bravo_wrap .bravo_detail_tour .bravo_banner h1 {
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    margin: 0; }
  .bravo_wrap .bravo_detail_tour .bravo_banner .btn-group {
    position: absolute;
    bottom: 30px;
    right: 0; }
    .bravo_wrap .bravo_detail_tour .bravo_banner .btn-group .btn {
      margin-left: 10px;
      background: rgba(26, 43, 72, 0.5);
      font-size: 14px;
      color: #FFF;
      padding: 10px 15px; }
      .bravo_wrap .bravo_detail_tour .bravo_banner .btn-group .btn:hover {
        background: #1a2b48; }
      .bravo_wrap .bravo_detail_tour .bravo_banner .btn-group .btn .fa {
        margin-right: 10px; }
    .bravo_wrap .bravo_detail_tour .bravo_banner .btn-group .has-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
.bravo_wrap .bravo_detail_tour .bravo_content {
  padding-top: 20px; }
  .bravo_wrap .bravo_detail_tour .bravo_content .g-header {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-header h2 {
      margin-top: 0;
      color: #1A2B48;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.3; }
      @media (max-width: 990px) {
        .bravo_wrap .bravo_detail_tour .bravo_content .g-header h2 {
          font-size: 24px; } }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_detail_tour .bravo_content .g-header h2 {
          font-size: 18px; } }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-header .sub-heading {
      color: #5E6D77;
      font-size: 14px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-header .sub-heading .fa {
        position: relative;
        top: 2px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score {
      text-align: right; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .head-rating {
        font-size: 14px;
        color: #1A2B48;
        font-weight: 500;
        display: block; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .st-stars .fa {
        font-size: 16px !important;
        cursor: pointer;
        color: #FFDC00; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .st-stars i:not(:last-child) {
        margin-right: 2px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .list-star {
        line-height: 13px;
        position: relative; }
        .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .list-star .booking-item-rating-stars {
          padding: 0;
          margin: 0;
          width: 90px;
          float: right; }
          .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .list-star .booking-item-rating-stars:before, .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .list-star .booking-item-rating-stars:after {
            content: "";
            display: table;
            clear: both; }
          .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .list-star .booking-item-rating-stars li {
            list-style: none;
            float: left;
            margin-right: 5px; }
            .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .list-star .booking-item-rating-stars li:last-child {
              margin-right: 0; }
            .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .list-star .booking-item-rating-stars li .fa {
              font-size: 15px;
              color: #FFDC00; }
        .bravo_wrap .bravo_detail_tour .bravo_content .g-header .review-score .list-star .booking-item-rating-stars-active {
          position: absolute;
          width: 0;
          top: 0;
          right: 0;
          overflow: hidden; }
  .bravo_wrap .bravo_detail_tour .bravo_content .g-tour-feature {
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #D7DCE3;
    border-bottom: 1px solid #D7DCE3;
    margin-bottom: 30px; 
    width: 100% !important;}
    @media (max-width: 766px) {
      .bravo_wrap .bravo_detail_tour .bravo_content .g-tour-feature {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 15px; } }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-tour-feature .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 10px; }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_detail_tour .bravo_content .g-tour-feature .item {
          margin-bottom: 0; } }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-tour-feature .item .icon {
        margin-right: 20px;
        font-size: 45px;
        color: #1a2b48; }
        @media (max-width: 766px) {
          .bravo_wrap .bravo_detail_tour .bravo_content .g-tour-feature .item .icon {
            line-height: 55px;
            font-size: 40px; } }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-tour-feature .item .info .name {
        font-size: 14px;
        color: #1A2B48;
        margin: 0;
        margin-bottom: 3px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-tour-feature .item .info .value {
        font-size: 14px;
        color: #5E6D77;
        margin: 0; }
  .bravo_wrap .bravo_detail_tour .bravo_content .g-overview {
    margin-bottom: 30px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-overview .description {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      color: #5E6D77;
      font-weight: 400;
      position: relative; }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_detail_tour .bravo_content .g-overview .description {
          margin-top: 10px;
          margin-bottom: 10px; } }
    @media (max-width: 990px) {
      .bravo_wrap .bravo_detail_tour .bravo_content .g-overview h3 {
        font-size: 1.5rem; } }
    @media (max-width: 766px) {
      .bravo_wrap .bravo_detail_tour .bravo_content .g-overview h3 {
        font-size: 1.3rem; } }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-overview h4, .bravo_wrap .bravo_detail_tour .bravo_content .g-overview strong {
      font-size: 14px;
      color: #5E6D77;
      font-weight: 500;
      margin-bottom: 30px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-overview ul {
      padding-left: 25px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-overview ul li {
        font-size: 14px;
        color: #5E6D77;
        margin-bottom: 20px;
        list-style: none; }
        .bravo_wrap .bravo_detail_tour .bravo_content .g-overview ul li:before {
          content: '';
          border: 1px solid #5191FA;
          width: 8px;
          height: 8px;
          display: inline-block;
          border-radius: 50%;
          margin-right: 20px; }
  .bravo_wrap .bravo_detail_tour .bravo_content .g-location {
    margin-bottom: 30px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-location h3 {
      margin-bottom: 20px; }
      @media (max-width: 990px) {
        .bravo_wrap .bravo_detail_tour .bravo_content .g-location h3 {
          font-size: 1.5rem; } }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_detail_tour .bravo_content .g-location h3 {
          font-size: 1.3rem; } }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-location iframe {
      width: 100%; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-location #map_content {
      height: 450px; }
  .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery {
    margin: 10px 0; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery .fotorama .fotorama__arr.fotorama__arr--prev {
      left: 30px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery .fotorama .fotorama__arr.fotorama__arr--prev:after {
        content: '';
        background: url(../images/ico_pre.svg); }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery .fotorama .fotorama__arr.fotorama__arr--next {
      right: 30px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery .fotorama .fotorama__arr.fotorama__arr--next:after {
        content: '';
        background: url(../images/ico_next.svg); }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery .fotorama .fotorama__arr {
      border-radius: 3px;
      width: 40px;
      height: 40px;
      background: none;
      background-color: rgba(26, 43, 72, 0.6); }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery .fotorama .fotorama__arr:after {
        position: absolute;
        left: 50%;
        margin-left: -13px;
        top: 7px;
        width: 24px;
        height: 24px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery .fotorama .fotorama__fullscreen-icon {
      width: 40px;
      height: 40px;
      top: auto;
      bottom: 30px;
      right: 30px;
      background: none; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery .fotorama .fotorama__fullscreen-icon:before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background: url(../images/ico_full_3.svg);
        left: 50%;
        margin-left: -11px;
        top: 7px;
        z-index: 1; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-gallery .fotorama .fotorama__fullscreen-icon:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(26, 43, 72, 0.5);
        border-radius: 3px; }
  .bravo_wrap .bravo_detail_tour .bravo_content .g-faq {
    border-bottom: solid 1px #D7DCE3;
    margin-bottom: 25px;
    border-top: solid 1px #D7DCE3;
    padding-top: 25px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-faq .item {
      border-bottom: 1px solid #D7DCE3;
      margin-bottom: 10px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-faq .item:last-child {
        border: none; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-faq .item .header {
        margin-bottom: 10px;
        overflow: hidden;
        padding-top: 15px;
        cursor: pointer; }
        .bravo_wrap .bravo_detail_tour .bravo_content .g-faq .item .header .field-icon {
          float: left;
          font-size: 25px;
          margin-right: 10px;
          top: -3px;
          position: relative; }
        .bravo_wrap .bravo_detail_tour .bravo_content .g-faq .item .header h5 {
          float: left;
          margin-top: 0px;
          margin-bottom: 0px;
          font-size: 16px;
          color: #1A2B48; }
        .bravo_wrap .bravo_detail_tour .bravo_content .g-faq .item .header .arrow {
          float: right;
          font-size: 20px;
          position: relative;
          top: -8px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-faq .item .body {
        font-size: 14px;
        color: #5E6D77;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        height: 0px;
        overflow: hidden;
        padding-bottom: 0px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-faq .item.active .header .arrow {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
      .bravo_wrap .bravo_detail_tour .bravo_content .g-faq .item.active .body {
        height: auto;
        padding-bottom: 20px; }
  .bravo_wrap .bravo_detail_tour .bravo_content .g-user-booked {
    border-bottom: solid 1px #D7DCE3;
    margin-bottom: 25px;
    border-top: solid 1px #D7DCE3;
    padding-top: 25px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .g-user-booked .avatar-text {
      background: #1a2b47;
      color: #fff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: block;
      text-align: center;
      padding-top: 4px;
      position: relative;
      font-size: 29px;
      top: 0; }
  .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap {
    margin-top: 57px; }
    @media (max-width: 990px) {
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap {
        display: none;
        margin: 0; }
        .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap #sticky-wrapper .bravo_tour_book {
          position: relative !important;
          top: 0 !important;
          width: auto !important; }
        .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show {
          position: fixed;
          z-index: 3000;
          left: 0px;
          right: 0px;
          padding: 20px !important;
          overflow: scroll;
          height: 100%;
          top: 0px;
          display: flex !important;
          width: 100%;
          flex-wrap: wrap;
          align-items: center; }
          .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show #sticky-wrapper {
            height: auto !important;
            flex: 1; }
          .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .form-head {
            padding: 10px 15px; }
            .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .form-head .price .value .onsale {
              display: inline-block;
              font-size: 16px; }
          .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .form-guest-search, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .form-section-group, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .date-wrapper {
            padding: 10px 15px; }
          .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show label {
            margin: 0 !important; }
          .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .form-section-group .form-section-title {
            font-size: 16px; }
          .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .form-section-group .form-group {
            padding-top: 0; }
            .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .form-section-group .form-group:last-child {
              padding-bottom: 0; }
          .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .submit-group {
            padding: 10px 15px;
            text-align: right; }
            .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book_wrap.show .submit-group .btn {
              padding: 7px 16px 5px;
              font-size: 14px;
              width: auto; } }
  .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book {
    border: 1px solid #D7DCE3;
    border-top: 5px solid #5191FA;
    border-radius: 0 0 4px 4px;
    background: #FFF;
    position: relative; }
    .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .tour-sale-box {
      position: absolute;
      top: -5px;
      overflow: hidden;
      height: 70px;
      width: 70px;
      right: -1px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .tour-sale-box .sale_class {
        position: absolute;
        width: 90px;
        height: 48px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        right: -30px;
        top: -9px;
        line-height: 65px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        z-index: 8;
        background-color: #cc0033; }
    .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-head {
      position: relative;
      padding: 20px;
      color: #5E6D77;
      font-size: 14px;
      border-bottom: 1px solid #D7DCE3; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-head .price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        font-size: 18px;
        color: #1A2B48;
        font-weight: 500; }
        .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-head .price .label {
          font-size: 14px;
          color: #5E6D77;
          font-weight: 400;
          padding: 0 10px 0 0;
          position: relative;
          top: -3px; }
        .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-head .price .value {
          line-height: 28px; }
          .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-head .price .value .text-lg {
            font-weight: 500;
            font-size: 24px;
            color: #00001E; }
          .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-head .price .value .onsale {
            display: block;
            text-decoration: line-through;
            font-size: 17px;
            color: #cc0033 !important;
            font-weight: 400;
            line-height: 20px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-content .form-group {
      margin-bottom: 0;
      border-bottom: 1px solid #D7DCE3; }
    .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-date-search {
      position: relative; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-date-search .start_date {
        position: absolute;
        bottom: 0px;
        right: 0px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .date-wrapper, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-guest-search {
      padding: 15px 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .date-wrapper .check-in-wrapper, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .date-wrapper .guest-wrapper, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-guest-search .check-in-wrapper, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-guest-search .guest-wrapper {
        padding: 0;
        width: 100%;
        float: left; }
        .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .date-wrapper .check-in-wrapper label, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .date-wrapper .guest-wrapper label, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-guest-search .check-in-wrapper label, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-guest-search .guest-wrapper label {
          font-size: 16px;
          color: #1A2B48;
          font-weight: 500;
          margin-bottom: 5px; }
        .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .date-wrapper .check-in-wrapper .render, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .date-wrapper .guest-wrapper .render, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-guest-search .check-in-wrapper .render, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-guest-search .guest-wrapper .render {
          font-size: 13px;
          color: #5E6D77; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .date-wrapper .fa, .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-guest-search .fa {
        font-size: 25px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-section-group {
      padding: 15px 20px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-section-group .form-section-title {
        font-size: 18px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-section-group label {
        font-size: inherit;
        color: #1A2B48;
        font-weight: 500;
        margin-bottom: 0px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-section-group .render {
        font-size: 13px;
        color: #5E6D77; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-section-group .form-group {
        padding: 10px 0px;
        border-bottom: 0px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .form-guest-search {
      padding-right: 12px; }
    .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .submit-group {
      border-top: 1px solid #D7DCE3;
      padding: 20px; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .submit-group .btn {
        width: 100%;
        font-size: 16px;
        padding: 12px 25px;
        color: #FFF; }
      .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .submit-group .alert-text {
        margin-top: 10px; }
.bravo_wrap .bravo_detail_tour .bravo-list-tour-related {
  margin-top: 15px;
  border-top: solid 1px #EAEEF3;
  margin-bottom: 15px; }
  @media (max-width: 990px) {
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related {
      border-top: 0; } }
  .bravo_wrap .bravo_detail_tour .bravo-list-tour-related h2 {
    font-size: 28px;
    margin-top: 35px;
    text-align: center;
    margin-bottom: 35px; }
    @media (max-width: 766px) {
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related h2 {
        margin-top: 0px;
        font-size: 24px; } }
  .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 30px; }
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour a {
      text-decoration: none;
      transition: all 0.3s; }
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .sale_info {
      position: absolute;
      width: 80px;
      height: 48px;
      transform: rotate(45deg);
      right: -30px;
      top: -13px;
      line-height: 65px;
      text-align: center;
      color: #fff;
      font-size: 15px;
      z-index: 8;
      background-color: #cc0033; }
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .featured {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 13px;
      color: #FFFFFF;
      font-weight: 500;
      z-index: 8;
      background: #1A2B48;
      border-radius: 0 3px 3px 0;
      padding: 6px 10px; }
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .thumb-image {
      overflow: hidden;
      height: 170px;
      background: #ccc; }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .thumb-image a img {
        transition: all 0.3s;
        max-width: 100%; }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .thumb-image a:hover img {
        transform: scale(1.1); }
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .location {
      font-size: 13px;
      color: #5E6D77;
      padding: 15px 15px 10px; }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .location i {
        position: relative;
        font-size: 16px; }
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .category {
      padding: 0 15px; }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .category .fa {
        color: #687882;
        opacity: 0.6; }
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .item-title {
      padding: 0 15px 0;
      font-size: 16px;
      line-height: 22px;
      min-height: 45px; }
      @media (max-width: 766px) {
        .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .item-title {
          min-height: auto; } }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .item-title a {
        color: #1A2B50; }
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info {
      padding: 0 15px 0; }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info:before, .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info:after {
        content: "";
        display: table;
        clear: both; }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info .duration {
        width: 32%;
        float: left;
        align-items: center;
        color: #5E6D77;
        position: relative;
        top: 3px; }
        .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info .duration i {
          position: relative;
          font-size: 17px; }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info .g-price {
        width: 68%;
        float: left;
        text-align: right; }
        .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info .g-price .prefix {
          color: #5E6D77;
          display: inline-block; }
          .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info .g-price .prefix i {
            font-size: 16px;
            color: #ffc107; }
        .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info .g-price .price {
          position: relative;
          display: inline-block; }
          .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info .g-price .price .text-price {
            font-size: 18px;
            color: #1A2B48;
            font-weight: 500; }
          .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .info .g-price .price .onsale {
            position: absolute;
            right: 0;
            top: -15px;
            text-decoration: line-through;
            font-size: 14px;
            color: #cc0033 !important;
            font-weight: 400; }
    .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review {
      padding: 10px 15px 15px; }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review .list-star {
        display: inline-block;
        line-height: 13px;
        position: relative; }
        .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review .list-star .booking-item-rating-stars {
          padding: 0;
          margin: 0;
          width: 90px; }
          .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review .list-star .booking-item-rating-stars:before, .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review .list-star .booking-item-rating-stars:after {
            content: "";
            display: table;
            clear: both; }
          .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review .list-star .booking-item-rating-stars li {
            list-style: none;
            float: left;
            margin-right: 5px; }
            .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review .list-star .booking-item-rating-stars li:last-child {
              margin-right: 0; }
            .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review .list-star .booking-item-rating-stars li .fa {
              font-size: 15px;
              color: #FFDC00; }
        .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review .list-star .booking-item-rating-stars-active {
          position: absolute;
          width: 0;
          top: 0;
          left: 0;
          overflow: hidden; }
      .bravo_wrap .bravo_detail_tour .bravo-list-tour-related .item-tour .service-review .review {
        position: relative;
        top: -2px;
        font-size: 13px;
        color: #768092;
        margin-left: 10px; }
.bravo_wrap .bravo_detail_tour .bravo-more-book-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 11;
  display: none;
  border-top: solid 1px #ddd; }
  @media (max-width: 990px) {
    .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile {
      display: block; } }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .container {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    height: 65px;
    flex-wrap: wrap; }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left, .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .right {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .g-price .prefix {
    color: #5E6D77;
    display: inline-block; }
    .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .g-price .prefix i {
      font-size: 16px;
      color: #ffc107; }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .g-price .fr_text {
    font-size: 12px; }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .g-price .price {
    position: relative;
    display: inline-block; }
    .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .g-price .price .text-price {
      font-size: 20px;
      color: #1A2B48;
      font-weight: 500; }
    .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .g-price .price .onsale {
      text-decoration: line-through;
      font-size: 16px;
      color: #cc0033 !important;
      font-weight: 400; }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .g-price i {
    font-size: 18px; }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .list-star {
    display: inline-block;
    line-height: 13px;
    position: relative; }
    .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .list-star .booking-item-rating-stars {
      padding: 0;
      margin: 0;
      width: 90px; }
      .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .list-star .booking-item-rating-stars:before, .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .list-star .booking-item-rating-stars:after {
        content: "";
        display: table;
        clear: both; }
      .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .list-star .booking-item-rating-stars li {
        list-style: none;
        float: left;
        margin-right: 5px; }
        .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .list-star .booking-item-rating-stars li:last-child {
          margin-right: 0; }
        .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .list-star .booking-item-rating-stars li .fa {
          font-size: 15px;
          color: #FFDC00; }
    .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .list-star .booking-item-rating-stars-active {
      position: absolute;
      width: 0;
      top: 0;
      left: 0;
      overflow: hidden; }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .review {
    position: relative;
    top: -2px;
    font-size: 13px;
    color: #768092;
    margin-left: 10px; }
    @media (max-width: 340px) {
      .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .left .service-review .review {
        display: none; } }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .right {
    text-align: right; }
  .bravo_wrap .bravo_detail_tour .bravo-more-book-mobile .btn-primary {
    padding: 8px 20px 6px;
    color: #fff;
    text-transform: uppercase; }
.bravo_wrap .page-template-content .bravo-list-tour .list-item {
  margin-top: 15px; }
  .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 30px; }
    .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour a {
      text-decoration: none;
      transition: all 0.3s; }
    .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .sale_info {
      position: absolute;
      width: 80px;
      height: 48px;
      transform: rotate(45deg);
      right: -30px;
      top: -13px;
      line-height: 65px;
      text-align: center;
      color: #fff;
      font-size: 15px;
      z-index: 8;
      background-color: #cc0033; }
    .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .featured {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 13px;
      color: #FFFFFF;
      font-weight: 500;
      z-index: 8;
      background: #1A2B48;
      border-radius: 0 3px 3px 0;
      padding: 6px 10px; }
    .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .thumb-image {
      overflow: hidden;
      height: 170px;
      background: #ccc; }
      .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .thumb-image a img {
        transition: all 0.3s;
        max-width: 100%; }
      .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .thumb-image a:hover img {
        transform: scale(1.1); }
    .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .location {
      font-size: 13px;
      color: #5E6D77;
      padding: 15px 15px 10px; }
      .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .location i {
        position: relative;
        font-size: 16px; }
    .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .category {
      padding: 0 15px; }
      .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .category .fa {
        color: #687882;
        opacity: 0.6; }
    .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .item-title {
      padding: 0 15px 15px;
      font-size: 16px;
      line-height: 22px; }
      .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .item-title a {
        color: #1A2B50; }
    .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info {
      padding: 0 15px 0; }
      .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info:before, .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info:after {
        content: "";
        display: table;
        clear: both; }
      .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info .duration {
        width: 32%;
        float: left;
        align-items: center;
        color: #5E6D77;
        position: relative;
        top: 3px; }
        .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info .duration i {
          position: relative;
          font-size: 17px; }
      .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info .g-price {
        width: 68%;
        float: left;
        text-align: right; }
        .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info .g-price .prefix {
          color: #5E6D77;
          display: inline-block; }
          .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info .g-price .prefix i {
            font-size: 16px;
            color: #ffc107; }
        .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info .g-price .price {
          position: relative;
          display: inline-block; }
          .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info .g-price .price .text-price {
            font-size: 18px;
            color: #1A2B48;
            font-weight: 500; }
          .bravo_wrap .page-template-content .bravo-list-tour .list-item .item-tour .info .g-price .price .onsale {
            position: absolute;
            right: 0;
            top: -15px;
            text-decoration: line-through;
            font-size: 14px;
            color: #cc0033 !important;
            font-weight: 400; }

.cart-total-group {
  border-top: 1px solid #D7DCE3; }
  .cart-total-group ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  .cart-total-group li {
    display: flex;
    justify-content: space-between;
    padding: 7px 0px; }
    .cart-total-group li .label {
      flex-grow: 1;
      color: #1A2B48;
      font-weight: 500; }
    .cart-total-group li .val {
      flex-shrink: 0; }
    .cart-total-group li.line-end-total {
      border-top: 1px solid #D7DCE3; }
    .cart-total-group li.line-new-section {
      border-top: 1px solid #D7DCE3;
      color: #1A2B48;
      font-weight: 500;
      font-size: 16px; }
    .cart-total-group li.line-end-total .label {
      font-size: 16px; }
    .cart-total-group li.line-end-total .val {
      color: #5191FA;
      font-weight: 500;
      font-size: 16px; }

.has-search-map {
  height: 100%; }
  .has-search-map .bravo_wrap {
    display: flex;
    height: 100%;
    flex-direction: column; }
    .has-search-map .bravo_wrap .bravo_header {
      background: white; }
      .has-search-map .bravo_wrap .bravo_header .content {
        background: transparent; }
    .has-search-map .bravo_wrap .bravo_search_tour {
      flex-grow: 1;
      display: flex;
      overflow-y: auto;
      flex-direction: column; }
      .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map {
        border-top: solid 1px #e0e0e0;
        flex-shrink: 0;
        padding: 12px; }
        .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .filter-item {
          padding: 0px 8px;
          flex-grow: 1; }
          @media (max-width: 990px) {
            .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .filter-item {
              border-bottom: 1px solid #e0e0e0; }
              .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .filter-item:last-child {
                border-bottom: none; } }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .filter-item .dropdown-menu {
            margin-top: -1px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 20px;
            min-width: 250px;
            border-radius: 0px; }
        .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form {
          background: #FFFFFF; }
          @media (max-width: 990px) {
            .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form {
              display: block !important;
              border: solid 1px #ccc;
              border-bottom: none; } }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-group {
            margin-bottom: 0;
            border: 1px solid #e0e0e0;
            height: 42px; }
            @media (max-width: 990px) {
              .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-group {
                border: none; } }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .border-right {
            border-right: 1px solid #D7DCE3; }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .field-detination {
            position: relative;
            padding: 8px;
            transition: all 0.3s; }
            .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .field-detination #dropdown-destination {
              padding-left: 40px; }
              .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .field-detination #dropdown-destination .form-control {
                border: none;
                box-shadow: none;
                padding: 0;
                font-size: 14px;
                color: #4b4b4b;
                position: relative;
                left: -5px;
                height: 25px !important; }
                .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .field-detination #dropdown-destination .form-control option {
                  color: #000; }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form label {
            font-size: 14px;
            color: #5E6D77;
            font-weight: 400;
            margin-bottom: 0px; }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .render {
            font-size: 14px;
            color: #4b4b4b; }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .field-icon {
            position: absolute;
            top: 50%;
            margin-top: -12px;
            font-size: 23px;
            color: #5e6d77;
            left: 8px; }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search {
            padding: 10px 15px 8px;
            position: relative;
            transition: all 0.3s; }
            .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .date-wrapper, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .date-wrapper {
              padding-left: 15px; }
            .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .start_date, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .start_date {
              position: absolute; }
            .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .check-in-wrapper, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .guest-wrapper, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .check-in-wrapper, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .guest-wrapper {
              padding-left: 16px; }
              .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .check-in-wrapper .check-in-render, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .check-in-wrapper .check-out-render, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .guest-wrapper .check-in-render, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .guest-wrapper .check-out-render, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .check-in-wrapper .check-in-render, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .check-in-wrapper .check-out-render, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .guest-wrapper .check-in-render, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .guest-wrapper .check-out-render {
                display: inline-block;
                width: auto; }
              .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .check-in-wrapper span, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .guest-wrapper span, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .check-in-wrapper span, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .guest-wrapper span {
                color: #5E6D77;
                position: relative;
                padding: 0px 5px; }
              .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .check-in-wrapper label, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .guest-wrapper label, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .check-in-wrapper label, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .guest-wrapper label {
                display: block; }
            .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-date-search .check-in-out, .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .form-guest-search .check-in-out {
              position: absolute;
              left: -15px;
              bottom: 1px;
              z-index: -1;
              opacity: 0; }
          @media (max-width: 990px) {
            .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .filter-simple {
              display: none; } }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .filter-simple .form-group .filter-title {
            padding: 10px 15px;
            justify-content: space-between;
            align-items: center;
            display: flex; }
          .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .g-button-submit {
            position: relative;
            min-height: 66px;
            margin: 0 -1px 0 -15px; }
            .has-search-map .bravo_wrap .bravo_search_tour .bravo_form_search_map .bravo_form .g-button-submit button {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              height: 100%;
              width: 100%;
              margin-right: -15px;
              border-radius: 0;
              background: #5191FA;
              border: none;
              text-transform: uppercase;
              font-weight: 500;
              cursor: pointer; }
  .has-search-map .bravo_search_map {
    display: flex;
    flex-grow: 1;
    min-height: 0px;
    background: #f5f5f5;
    border-top: solid 1px #e0e0e0; }
    @media (max-width: 990px) {
      .has-search-map .bravo_search_map {
        display: block; } }
    .has-search-map .bravo_search_map .results_map {
      flex-shrink: 0;
      width: 40%;
      left: 0;
      border-right: solid 1px #e0e0e0;
      position: relative; }
      @media (max-width: 990px) {
        .has-search-map .bravo_search_map .results_map {
          width: 100%;
          height: 300px; } }
      .has-search-map .bravo_search_map .results_map .map_loading {
        display: none; }
      .has-search-map .bravo_search_map .results_map .results_map_inner {
        height: 100%; }
      .has-search-map .bravo_search_map .results_map .item-tour {
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        padding-bottom: 15px;
        position: relative;
        margin-bottom: 30px; }
        .has-search-map .bravo_search_map .results_map .item-tour a {
          text-decoration: none;
          transition: all 0.3s; }
        .has-search-map .bravo_search_map .results_map .item-tour .sale_info {
          position: absolute;
          width: 80px;
          height: 48px;
          transform: rotate(45deg);
          right: -30px;
          top: -13px;
          line-height: 65px;
          text-align: center;
          color: #fff;
          font-size: 15px;
          z-index: 8;
          background-color: #cc0033; }
        .has-search-map .bravo_search_map .results_map .item-tour .featured {
          position: absolute;
          top: 20px;
          left: 0;
          font-size: 13px;
          color: #FFFFFF;
          font-weight: 500;
          z-index: 8;
          background: #1a2b48;
          border-radius: 0 3px 3px 0;
          padding: 6px 10px; }
        .has-search-map .bravo_search_map .results_map .item-tour .thumb-image {
          overflow: hidden;
          height: 170px;
          background: #ccc; }
          @media (max-width: 766px) {
            .has-search-map .bravo_search_map .results_map .item-tour .thumb-image {
              max-height: 140px; } }
          .has-search-map .bravo_search_map .results_map .item-tour .thumb-image a img {
            transition: all 0.3s;
            max-width: 100%; }
          .has-search-map .bravo_search_map .results_map .item-tour .thumb-image a:hover img {
            transform: scale(1.1); }
        .has-search-map .bravo_search_map .results_map .item-tour .location {
          font-size: 13px;
          color: #5E6D77;
          padding: 15px 15px 10px;
          display: none; }
          .has-search-map .bravo_search_map .results_map .item-tour .location i {
            position: relative;
            font-size: 16px; }
        .has-search-map .bravo_search_map .results_map .item-tour .category {
          padding: 0 15px; }
          .has-search-map .bravo_search_map .results_map .item-tour .category .fa {
            color: #687882;
            opacity: 0.6; }
        .has-search-map .bravo_search_map .results_map .item-tour .service-review {
          padding: 5px 15px 10px; }
          .has-search-map .bravo_search_map .results_map .item-tour .service-review .list-star {
            display: inline-block;
            line-height: 13px;
            position: relative; }
            .has-search-map .bravo_search_map .results_map .item-tour .service-review .list-star .booking-item-rating-stars {
              padding: 0;
              margin: 0;
              width: 90px; }
              .has-search-map .bravo_search_map .results_map .item-tour .service-review .list-star .booking-item-rating-stars:before, .has-search-map .bravo_search_map .results_map .item-tour .service-review .list-star .booking-item-rating-stars:after {
                content: "";
                display: table;
                clear: both; }
              .has-search-map .bravo_search_map .results_map .item-tour .service-review .list-star .booking-item-rating-stars li {
                list-style: none;
                float: left;
                margin-right: 5px; }
                .has-search-map .bravo_search_map .results_map .item-tour .service-review .list-star .booking-item-rating-stars li:last-child {
                  margin-right: 0; }
                .has-search-map .bravo_search_map .results_map .item-tour .service-review .list-star .booking-item-rating-stars li .fa {
                  font-size: 15px;
                  color: #FFDC00; }
            .has-search-map .bravo_search_map .results_map .item-tour .service-review .list-star .booking-item-rating-stars-active {
              position: absolute;
              width: 0;
              top: 0;
              left: 0;
              overflow: hidden; }
          .has-search-map .bravo_search_map .results_map .item-tour .service-review .review {
            position: relative;
            top: -2px;
            font-size: 13px;
            color: #768092;
            margin-left: 10px; }
        .has-search-map .bravo_search_map .results_map .item-tour .item-title {
          padding: 10px 15px 0;
          font-size: 16px;
          line-height: 22px;
          min-height: 45px; }
          @media (max-width: 990px) {
            .has-search-map .bravo_search_map .results_map .item-tour .item-title {
              font-size: 14px; } }
          @media (max-width: 766px) {
            .has-search-map .bravo_search_map .results_map .item-tour .item-title {
              min-height: auto; } }
          .has-search-map .bravo_search_map .results_map .item-tour .item-title a {
            color: #1A2B50; }
        .has-search-map .bravo_search_map .results_map .item-tour .info {
          padding: 0 15px 0; }
          .has-search-map .bravo_search_map .results_map .item-tour .info:before, .has-search-map .bravo_search_map .results_map .item-tour .info:after {
            content: "";
            display: table;
            clear: both; }
          .has-search-map .bravo_search_map .results_map .item-tour .info .duration {
            width: 32%;
            float: left;
            align-items: center;
            color: #5E6D77;
            position: relative;
            top: 5px; }
            .has-search-map .bravo_search_map .results_map .item-tour .info .duration i {
              position: relative;
              font-size: 17px; }
          .has-search-map .bravo_search_map .results_map .item-tour .info .g-price {
            width: 68%;
            float: left;
            text-align: right; }
            .has-search-map .bravo_search_map .results_map .item-tour .info .g-price .prefix {
              color: #5E6D77;
              display: inline-block; }
              .has-search-map .bravo_search_map .results_map .item-tour .info .g-price .prefix i {
                font-size: 16px;
                color: #ffc107; }
            .has-search-map .bravo_search_map .results_map .item-tour .info .g-price .price {
              position: relative;
              display: inline-block; }
              .has-search-map .bravo_search_map .results_map .item-tour .info .g-price .price .text-price {
                font-size: 18px;
                color: #1A2B48;
                font-weight: 500; }
              .has-search-map .bravo_search_map .results_map .item-tour .info .g-price .price .onsale {
                position: absolute;
                right: 0;
                top: -15px;
                text-decoration: line-through;
                font-size: 14px;
                color: #cc0033 !important;
                font-weight: 400; }
        .has-search-map .bravo_search_map .results_map .item-tour.infobox-item {
          position: relative; }
          .has-search-map .bravo_search_map .results_map .item-tour.infobox-item:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            border-width: 10px;
            border-color: transparent #fff #fff transparent;
            bottom: -9px;
            left: 0;
            right: 0;
            margin: auto;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-box-shadow: 1px 1px 0px #dfdfdf;
            box-shadow: 1px 1px 0px #dfdfdf;
            background: #fff; }
    .has-search-map .bravo_search_map .results_item {
      flex-grow: 1;
      position: relative; }
      .has-search-map .bravo_search_map .results_item #advance_filters {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: flex;
        z-index: 9;
        flex-direction: column;
        background: white; }
        .has-search-map .bravo_search_map .results_item #advance_filters .ad-filter-b {
          flex-grow: 1;
          min-height: 0px;
          overflow-y: auto;
          padding: 30px; }
          .has-search-map .bravo_search_map .results_item #advance_filters .ad-filter-b .filter-item {
            border-bottom: 1px solid #dbdbdb;
            padding-bottom: 15px;
            margin-bottom: 15px; }
            .has-search-map .bravo_search_map .results_item #advance_filters .ad-filter-b .filter-item:last-child {
              border-bottom: 0px; }
          .has-search-map .bravo_search_map .results_item #advance_filters .ad-filter-b .filter-title {
            margin-bottom: 10px;
            font-size: 15px; }
          .has-search-map .bravo_search_map .results_item #advance_filters .ad-filter-b .filter-items {
            padding: 0px;
            list-style: none; }
            .has-search-map .bravo_search_map .results_item #advance_filters .ad-filter-b .filter-items .filter-term-item label {
              margin-bottom: 8px; }
        .has-search-map .bravo_search_map .results_item #advance_filters .ad-filter-f {
          border-top: 1px solid #ececec;
          background-color: #fafafa;
          flex-shrink: 0;
          padding: 10px 15px; }
      .has-search-map .bravo_search_map .results_item .text-paginate {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 15px 0 0;
        color: #818181; }
      .has-search-map .bravo_search_map .results_item .listing_items {
        height: 100%;
        overflow-y: auto; }
        .has-search-map .bravo_search_map .results_item .listing_items .bravo-list-item {
          height: 100%;
          padding: 0 30px; }
          @media (max-width: 766px) {
            .has-search-map .bravo_search_map .results_item .listing_items .bravo-list-item {
              padding: 0 15px; } }
          .has-search-map .bravo_search_map .results_item .listing_items .bravo-list-item.not-found {
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex; }
          @media (max-width: 1280px) {
            .has-search-map .bravo_search_map .results_item .listing_items .bravo-list-item .list-item .row .col-md-6 {
              -ms-flex: 0 0 50%;
              flex: 0 0 50%;
              max-width: 50%; } }
          @media (max-width: 766px) {
            .has-search-map .bravo_search_map .results_item .listing_items .bravo-list-item .list-item .row .col-md-6 {
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              max-width: 100%; } }
          .has-search-map .bravo_search_map .results_item .listing_items .bravo-list-item .list-item .item-tour {
            background: white; }
            .has-search-map .bravo_search_map .results_item .listing_items .bravo-list-item .list-item .item-tour .thumb-image {
              max-height: 170px; }
              @media (max-width: 766px) {
                .has-search-map .bravo_search_map .results_item .listing_items .bravo-list-item .list-item .item-tour .thumb-image {
                  max-height: 180px; } }

/*# sourceMappingURL=tour.css.map */
